{% extends 'AppBundle:Common:layout.html.twig' %}

{% block content %}

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">FunkPop</li>

      <li>
        <a href="{{ path('app_index_index_style', {style: 'carousel'}) }}">Carousel</a>
      </li>
      <li>
        <a href="{{ path('app_index_index_style', {style: 'grille'}) }}">Grille</a>
      </li>
      <li>
        <a href="{{ path('app_index_index_style', {style: 'pure'}) }}">Pure</a>
      </li>

    </ul>
  </div>
</div>

{{ block('index_content') }}

{% endblock content %}