{% extends 'AppBundle:Index:base.html.twig' %}

{% block index_content %}

{% if list|length %}
<div class="row medium-unstack" id="carousel">
    <div class="owl-carousel owl-theme">
        {% for image in list %}
        <div class="item">
            <img class="" src="/{{ image.path }}" alt="{{ image.name }}" />
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
{% include 'AppBundle:Index:no_image.html.twig' %}
{% endif %}

{% endblock index_content %}

{% block scripts %}
{{ parent() }}
<script type="text/javascript">
$(document).ready(function() {
    {% if 1 < list|length %}
    var owl = $(".owl-carousel").owlCarousel({
        loop: true,
        nav: true,
        items: 1,
        navText : ["Précédent","Suivant"],
        dotsEach: 1,
        dots: true,
        center: true,
        autoHeight: true,
    });
    {% else %}
    $('.owl-carousel').show();
    {% endif %}
});
</script>
{% endblock scripts %}

