{% extends 'AppBundle:Common:layout.html.twig' %}

{% block content %}

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">FunkPop</li>
    </ul>
  </div>
</div>

<div class="row medium-unstack">
    <div class="owl-carousel owl-theme">
        {% for image in list %}
        <div class="item">
            <img src="/{{ image.path }}" alt="{{ image.name }}" />
        </div>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}

{% block scripts %}
{{ parent() }}
<script type="text/javascript">
$(document).ready(function() {
    $(".owl-carousel").owlCarousel({
        navigation : true, // Show next and prev buttons
        slideSpeed : 300,
        paginationSpeed : 400,
        singleItem:true,
        navigationText : ["Précédent","Suivant"],
 
    });
});
</script>
{% endblock scripts %}

