<div class="primary callout">
    Oh zut alors, il n'y a pas de Funko Pop qui correspondent à "{{ search }}".
    <br />
    <br />
    <a href="{{ path('app_index_index_style', {style: style, search: ''}) }}">
        Un petit retour à la liste complète ?
    </a> sinon, tu peux rester là à attendre que la figurine arrive un jour. Mais dans ce cas, pense à actualiser de temps en temps. Ça se rafraichi pas tout seul.
</div>