{% extends 'AppBundle:Admin:base.html.twig' %}

{% block admin_content %}

<div class="row small-up-2 medium-up-3 large-up-4">
    {% for image in list %}
    <div class="columns">
        <img src="/{{ image.path }}" alt="{{ image.name }}" class="thumbnail" />
        
        <div class="button-group tiny expanded">
            <a href="{{ path('app_admin_edit', {id: image.id}) }}" class="success button">Edit</a>
            <a href="#" class="alert button">Supprimer</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock admin_content %}