a.label {
    cursor: pointer;
}
a.label.secondary:hover {
    background-color: #2199E8;
}

.tpl-carousel .owl-carousel .owl-item .item,
.tpl-grille .columns,
.tpl-simple .row {
    text-align: center;
}