.tpl-carousel .owl-carousel .owl-item .item,
.tpl-grille .columns,
.tpl-mosaique .columns,
.tpl-simple .row {
    text-align: center;
}

.tpl-mosaique {
    margin-top: 1rem;
}
.tpl-mosaique .columns {
    position: relative;
}
.tpl-mosaique .columns .thumbnail-legend {
    display: none;
    position: absolute;
}
.tpl-mosaique .columns.active .thumbnail-legend {
    display: block;
}

.tpl-carousel .img-container,
.tpl-grille .img-container,
.tpl-mosaique .img-container {
    display: inline-block;
    position: relative;
}
.tpl-mosaique .img-container {
    display: block;
}
.tpl-carousel .badge-rare,
.tpl-grille .badge-rare,
.tpl-mosaique .badge-rare {
    position: absolute;
    right: -15px;
    font-size: 100%;
    top: -15px;
}
.tpl-mosaique .badge-rare {
    font-size: 0.6rem;
    right: -10px;
    top: -10px;
}
.tpl-mosaique.thumbnail-legend .badge-rare {
    position: relative;
    top: 0;
    left: 0;
    vertical-align: super; 
}

.tpl-grille .thumbnail-rare, .tpl-mosaique .thumbnail-rare {
    box-shadow: 0 0 0 1px rgba(255, 174, 0, 0.8);
}

.menu .menu-text > a {
    color: #808080;
}
.menu .active.warning > a {
    color: #fefefe;
    background: #ffae00;
}
.menu .warning > a {
    color: #ffae00;
}